body{
	font-family: 'Roboto', sans-serif;
	padding:0px;
	margin:0px;
	
}
.logo{
	display:block;
	float:none;
	padding:5px 0px;
	margin:0px auto;
	text-align:center;
}
.logo img {
    max-width:190px;
}
.top-bg ul li{
	list-style:none;
}
.top-bg ul li a{
	
	border-bottom:1px solid #dbdbdb;
	color:#9c9c9c;
	font-size:14px;
	list-style:none;
	font-weight:500;
	padding:10px 10px 10px 40px;
	display:block;
}
.top-bg ul li.web{
	border-bottom:none !important;
}
.top-bg ul{
	margin:0px;
	padding:0px 10px;
}
.top-bg ul li a,visited:link{
	color:#666;
	text-decoration:none;
}
.fixed-bg{
	
	background: url(../img/banner-img.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  position: fixed;
     top: 0;
     width: 100%;
     height: 100%;
}
.outer{
	display: block;
    position: absolute;
    height: 100%;
    width: 100%;
	padding:10px;
	overflow:auto;
}
@media screen and (max-width:767px){

.xs-show{
	display:block;
}
.xs-hidden{
	   display:none !important;
}
	
}
@media screen and (min-width:768px){
	.xs-show{
		display:none;
   }
   .xs-hidden{
	   display:block !important;
   }
	
}
.top-bg{
	background-color:rgba(255,255,255,0.7);
	width:98%;
	height:auto;
	float:none;
	margin:0px auto;
	max-width:350px;
} 
.roi{
	background:url(../img/roi.png) left center no-repeat;
	
}
.white-papers{
	background:url(../img/folder.png) left center no-repeat;
}
.casestudies{
	background:url(../img/case-studies.png) left center no-repeat;
}
.webinar{
	background:url(../img/webinar.png) left center no-repeat;
}
.website{
	background:url(../img/website.png) left center no-repeat;
}
.modal-content {
	border-radius:0px !important;
}
.video{
	margin:5px auto 0px auto;
	max-width:350px;
	width:98%;
	text-align:center;
}